html(lang="en")
head
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug
  title Document
body
  include ../includes/header.pug
  main

    h4.center Akun Saya
    br
    ul.collection.container.z-depth-4
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Nama 
        p=name
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Telepon 
        p=phone
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  E-Mail 
        p=email
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Alamat 
        p=address
      

    div#pesanan
    br
    .center
      button.waves-effect.waves-light.btn( class= `${colorTheme}`)
        a(href="/logout" ) logout
    br


    include ../includes/footer.pug