.navbar-fixed
  nav(role="navigation" class= `${colorTheme}`)
    .nav-wrapper.container
      a#logo-container.brand-logo(href='/') #{siteName.toUpperCase()}
        //- i.large.material-icons explore
      ul.right.hide-on-med-and-down
        li 
          a.tooltipped(href='/' data-tooltip="Menu utama") Home
        li 
          a.tooltipped(href=link.designer data-tooltip="Temui para desainer yang sesuai dengan kebutuhanmu") Desainer
        li 
          a.tooltipped(href=link.about data-tooltip="Kenali kami lebih jauh") About
        li 
          if user
            a.waves-effect.waves-light.btn.modal-trigger#authStatus(href=`/profile` class= `${colorTheme}` )=`${user.name}`
          else
            a.waves-effect.waves-light.btn.modal-trigger#authStatus(href='#modal_login' class= `${colorTheme}` ) Login
      ul#nav-mobile.sidenav
        li
          a.waves-effect.waves-light.btn.modal-trigger#authStatusMobile(href='#modal_login' class= `${colorTheme}`) Login
        li 
          a(href='/') Home
        li 
          a(href=link.designer) Desainer
        li 
          a(href=link.about) About
      a.sidenav-trigger(href='#' data-target='nav-mobile')
        i.material-icons menu
    

