// Modal Structure
#modal_order.modal
  .modal-content
    h4.header.center.dark-text.text-lighten-2 Form Init
    form(action="/designers/"+designer._id+"/order", method="post")
      .container
        p Pilih kategori
        .input-field.col.s12.m6
          select(name='category')
            option(value='', disabled='', selected='') Kategori
            each item in designer.expertise
              option(value= `${item._id}`, data-icon=`${link.imgCDN}categories/${item.name}.jpg`) #{item.name}
            label Images in select

        button.btn.waves-effect.waves-light(type='submit' class= `${colorTheme}`)
          | Buat
          i.material-icons.right send
            
    .modal-footer
