html(lang="en")
  head 
    include ../includes/head.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug
    title #{siteName} - #{designer.businessName} Admin
  body
    include ../includes/header.pug
    main
      .container
        h2.center Admin #{designer.businessName} 
        table.highlight.striped

          tbody
            tr
              th#infoNama Nama
              td#descNama #{designer.businessName}
              td 
                a(href="/designers/"+designer._id+"/edit") edit detail

            tr
              th Akun Pengelola
              td #{designer.account.maintainers}
              td 

            tr
              th Keahlian
              td 
                each val in designer.expertise
                  span.chip #{val.name}
              td 

            tr
              th Transaksi
              td #{designer.works}
              td 
                a.btn(href="/myOrder" class= `${colorTheme}`) Lihat
                  i.material-icons.right visibility
            tr
              th Gambar
              form(action="/designers/"+designer._id+"/picture" method="post" enctype="multipart/form-data")
                td 
                  .row
                    .col.s5
                      a(href=`${link.imgCDN}/designers/${designer._id}/main/${designer.picture}` target="_blank")
                        img(src=`${link.imgCDN}/designers/${designer._id}/main/${designer.picture}`, alt="gambar" height="12%" ) 
                    .col.s7
                      .file-field.input-field
                        .btn(class= `${colorTheme}`)
                          span file
                            i.material-icons.right add_a_photo
                          input(type='file' name='picture' accept='image/*' class= `${colorTheme}`)
                        .file-path-wrapper
                          input.file-path.validate(type='text')   
                td
                  .row
                    button.btn.waves-effect.waves-light(type='submit' class= `${colorTheme}`)
                      | Upload
                      i.material-icons.right send
              
        

      div#pesanan

      div#transactions

      br
      .center
        a.waves-effect.waves-light.btn( class= `${colorTheme}` href="/profile" ) Kembali
          
      br


      include ../includes/footer.pug