html(lang="en")
head
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug
  title #{siteName} - Form Order
  script(defer src=upPageLevel+'public/js/order_script.js')
body
  include ../includes/header.pug
  main
    each message in order.chatLog
      .container
        .row
          p from: #{message.from.name} date: #{message.message.date}
          p #{message.message.content}   
    .container
      .row
        ul
        form(action='/designers/'+designer._id+'/orders/'+order._id+'/messages', method="POST")
          input(id='box' type='text' name="content" autocomplete='off')
          a(href='/designers/'+designer._id+'/orders/'+order._id)
            button.btn.waves-effect.waves-light(type='submit' class= `${colorTheme}`)
              | Kirim
              i.material-icons.right send

  include ../includes/footer.pug
