html(lang="en")
  head
    include ../includes/head.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug
    title #{siteName} - Form Order
    script(defer src=upPageLevel+'public/js/order_script.js')
  body
    include ../includes/header.pug
    main
      .row
        .col(class='s3 m3 l3 scrollable' style='margin-top:7px;')
          each order in orders
            if user._id == order.user._id || designerId == order.designer._id
              p
                .collection
                  a(href='/myOrder/' + order._id class=`collection-item ${colorTheme}` style='border-radius:10px;')
                    b(style= 'color: #ffffff') #{order.designer.businessName}
                    if order.chatLog.length > 0
                      if order.chatLog[order.chatLog.length - 1].message.messageType == 'text'
                        p(style='color: #ffffff') #{order.chatLog[order.chatLog.length - 1].message.content}
                      else
                        p(style='color: #ffffff') Photo
                          i.material-icons.left image 
              
              
        .col(class='s7 m7 l7 scrollable' style='margin-top:15px;')#box
              if select
                each message in order.chatLog
                  - let type = message.message.messageType
                  - let isUser = message.from._id == order.user._id
                  - let d = Date.parse(message.message.date);
                  - let date = new Date(d);
                  - let time = `${date.getHours()}:${date.getMinutes()}`;
                  - let m = month[date.getMonth()]
                  - let weekday = day[date.getDay()];
                
                  if type == 'text'
                    if isUser
                      .row
                        .col(class='s12 m8 left')
                          .card-panel.teal.left-align(class='textLeft')
                            b #{message.from.name}
                            p #{message.message.content}
                            //- p #{weekday}, #{date.getDate()} #{m} ////format day, date month
                            p #{time}
                    else
                      .col(class='s12 m8 right')
                        .card-panel.blue.right-align(class='textRight')
                          b #{message.from.name}
                          p #{message.message.content}
                          //- p #{weekday}, #{date.getDate()} #{m}
                          p #{time}   
                  else
                    if isUser
                      .col(class='s12 m8 left')
                        .card-panel.teal.left-align(class='textLeft')
                          b #{message.from.name}
                          img.materialboxed(width='50%', src=link.imgCDN+'orders/'+order._id+'/messages/'+message.message.content)
                          //- p #{weekday}, #{date.getDate()} #{m}
                          p #{time}   
                    else
                      .col(class='s12 m8 right')
                        .card-panel.blue.right-align(class='textRight')
                          b #{message.from.name}
                            row.right-align
                              img.materialboxed(width='50%' style='margin-left:50%;' src=link.imgCDN+'orders/'+order._id+'/messages/'+message.message.content)
                            //- p #{weekday}, #{date.getDate()} #{m}
                          p #{time}
        .col(class='s2 m2 l2' style='margin-top:15px;')
          if select
            if order.category != undefined
              b Category : #{order.category.name}
            else
              b Category :
      if select      
        .row
            .container
              .col(class='s2 m2 l2')
                form(action='/designers/'+order.designer._id+'/orders/'+order._id+'/messages/image' method="POST" enctype="multipart/form-data")
                  .file-field.input-field
                    .btn(style='margin-top: -17px; margin-left: 65%;' class= `${colorTheme}`)
                      i.material-icons add_a_photo
                      input(type='file' name='content' accept='image/*' class= `${colorTheme}` onchange='this.form.submit()')
                    .file-path-wrapper
                      input.file-path.validate(type='hidden')
              form(action='/designers/'+order.designer._id+'/orders/'+order._id+'/messages', method="POST")
                .col(class='s8 m8 l8')
                  input(type='text' name="content" autocomplete='off')
                .col(class='s2 m2 l2')
                  a(href='/designers/'+order.designer._id+'/orders/'+order._id)
                  button.btn.waves-effect.waves-light(type='submit' class= `${colorTheme}`)
                      | Kirim
                      i.material-icons.right send

      include ../includes/footer.pug
